<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	
		<form class="text-center" action="/admin" method="POST" >
			
			
			    <p><%= @check_admin %></p>
			    <label >Логин</label>
			    <br>
			    <input name="user_admin" type="text" class="form-control center-block" placeholder="Введите имя администратора">
			    <br>
			   	<label >Пароль</label>
				<br>
			    <input name="password" type="text" class="form-control center-block" placeholder="Введите пароль администратора">
			    <br>
			    <button type="submit" class="btn btn-info">Войти</button>


		</form>

	

</body>
</html>