<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/admin" method="POST">
	
	
	    <p><%= @check_admin %></p>
	    <label >Логин</label>
	    <br>
	    <input name="user_admin" type="text" class="form-control" placeholder="Введите имя администратора">
	    <br>
	   	<label >Пароль</label>
		<br>
	    <input name="password" type="text" class="form-control" placeholder="Введите пароль администратора">
	    <br>
	    <button type="submit" class="btn btn-primary">Войти</button>


</form>

</body>
</html>