<!DOCTYPE html>
<html>

<head>
	<title>Guest Book</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>

<!-- <div class="container">
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Оставьте свое сообщение</h5>
						<%= @alert_message %>
						<%= @alert_success %>
						<form action="/contacts" method="POST">
						  
						  <div class="form-group">
						  	<label for="myText">Имя</label>
						  	<input name="login" id="myText"class="form-control"  type="text" value="<%=@login%>"></input>
						  </div>


						  <div class="form-group">
						  	<label for="myText">Почта</label>
						  	<input name="mail" id="myText"class="form-control" value="<%=@mail%>" type="email"></input>
						  </div>
					
					 	  <div class="form-group">
						  	<label for="myText"></label>
						  	
						  	<textarea name="message" id="" cols="38" rows="5" placeholder="Оставьте ваше сообщение"></textarea>
						  </div>

						  <div class="form-group">
						  	<input type="submit">
						  </div>
											  

						</form>
					</div>
				</div>
			</div>
			
			<div class="col-6"></div>
		</div>
</div>	 -->

<h2> Feedback </h2>
 
<form action="/contacts" method="POST">
<div class="form-group">
  <!-- <label>Your name:</label> -->
  <!-- <input name="username" type="text" class="form-control" placeholder="Your name"> -->
  <label for="comment">Text of the appeal:</label>
  <textarea name="message" class="form-control" rows="5" placeholder="Text of the appeal"></textarea>
</div>
<button type="submit" class="btn btn-primary">Send:</button>
</form>


</body>
</html>


