<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
<h1>HELLO!</h1>

<a  href="/contacts">contacts</a>
<p class= "something"> AWEAEAE</p>
<p    id="slogan"> AWEAEAE</p>

<form class="color" action="/visit" method="POST">
	
	<label>Логин </label><br>	
	<input type="text"     name="login">
	<br>
	<label>Пароль </label><br>
	<input type="password" name="pass">
	<br>
	<label>Почта </label><br>
	
	<input type="email"    name="mail">
	<br>
	<label>Когда Вас ждать? </label><br>
	
	<input type="text"     name="datetime"><br>
	<br>
	<input type="submit"   >

</form>
</body>
</html>



