<!DOCTYPE html>
<html>

<head>

	<title></title>
	<script type="text/javascript" src="/script.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
	<script src="jquery.simplecolorpicker.js"></script>
	<link rel="stylesheet" href="jquery.simplecolorpicker.css">

</head>


<body>

<!-- <a  href="/contacts">contacts</a>
 -->
<form class="color" action="/visit" method="POST">
	
	<label>Логин </label><br>	
	<input  type="text" name="login" class=" form-control ggg">
	<br>
	<label>Пароль </label><br>
	<input  type="password" name="pass" class=" form-control">
	<br>
	<label>Почта </label><br>
	
	<input id="bbb" type="email" name="mail" class=" form-control">
	<br>
	<label>Когда Вас ждать? </label><br>
	
	<input id="aaa" type="text" name="datetime" class=" form-control"><br>
	<br>
	<select name="color">
	  <option value="#7bd148">Green</option>
	  <option value="#5484ed">Bold blue</option>
	  <option value="#a4bdfc">Blue</option>
	  <option value="#46d6db">Turquoise</option>
	  <option value="#7ae7bf">Light green</option>
	  <option value="#51b749">Bold green</option>
	  <option value="#fbd75b">Yellow</option>
	  <option value="#ffb878">Orange</option>
	  <option value="#ff887c">Red</option>
	  <option value="#dc2127">Bold red</option>
	  <option value="#dbadff">Purple</option>
	  <option value="#e1e1e1">Gray</option>
	</select>
	<input type="submit"   >

</form>

<script type="text/javascript">
	$("#aaa").css("background-color", "yellow");
	$("#bbb").css("background-color", "red");
	$(".ggg").css("background-color", "green");

	$('select[name="color"]').simplecolorpicker();
</script>

</body>
</html>



